@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-bg-color: #21a650;
  --second-bg-color: #2abf5e;
  --second-variable-color: #1b8c37;
  --text-variable01-color: #d9ad29;
  --text-variable02-color: #f2ecd8;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Mali", Arial, Helvetica, sans-serif;
}

.header {
  height: 600px;
  background: url(https://burst.shopifycdn.com/photos/a-colorful-fruit-cart-on-wheels.jpg?width=925&format=pjpg&exif=1&iptc=1)
  center center no-repeat;
  background-size: cover;
}

nav {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li a {
  text-transform: uppercase;
  color: var(--text-variable02-color);
  font-size: 1.1rem;
}

.info {
  width: 100vw;
  height: 380px;
  background-color: var(--main-bg-color);
  /* mediaquerys */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.info img {
  margin-top: .5em;
}


.info div {
  font-family: "Arial";
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  color: var(--text-variable02-color);
}


/* SECTION PRODUCTS */

.products {
  /* margin-top: 2em; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.products div {
  margin-top: 2em;
}
/* PAG PRODUCTS SELECTION*/
.selecProducts{
  background-color: var(--second-variable-color);
  width: 100%;
  height: 120px;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.selecProducts h4, span{
  display: inline-block;
  margin-left: .5em;
  color: var(--text-variable02-color);
}

.selecProducts select{
  width: 120px;
  height: 30px;
  margin: 1em 1em;
  border-radius: 5px;
  padding-left: .5em;
}


.selecProducts input[type=submit], input[type=button]{
  margin-left: 1em;
  background-color: var(--text-variable01-color);
  width: 110px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.selecProducts input[type=submit]:hover, input[type=button]:hover{
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

.selecProducts input[type=submit]:disabled{
  pointer-events: none;
  background-color: #aa975d;
}


/* PAG PRODUCTS SELECTION*/

/* PAG PRODUCTS */
#products {
  margin: 4em .5em 0 .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
}

.card {
  background-color:var(--main-bg-color);
  border-radius: 8px;
  width: 210px;
  height: 110px;
  margin: 3em .8em;
  color: var(--text-variable02-color);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  transition : 0.2s ease-in-out;
}

.card:hover{
  height: 200px;
}

.content {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.card .content {
  position : relative;
  top : -95px;
  padding : 0px 15px;
  color : white;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : 0.2s ease-in-out;
}

.card:hover .content {
   margin-top : 110px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.4s;
}
.card img{
  width: 180px;
  height: 120px;
  background-color:white;
  padding: 8px 8px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn-buy{
  background-color:white;
  color: green;
  margin-top: 12px;
  width: 130px;
  border-radius:5px;
  cursor:pointer;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}


/* PAG PRODUCTS */

/* CONTACTO */
.contacto {
  margin-top: 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--second-bg-color);
  height: 100%;
  border-bottom: 2px solid rgba(217, 173, 41, 0.8);
  display: flex;
  justify-content: center;
}

.contacto h3 {
  margin: 1em 1em;
  text-align: center;
  color: var(--text-variable02-color);
  font-size: 1.4em;
}

.contacto form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 2em;
}

input {
  height: 35px;
  width: 230px;
  background: none;
  border-style: none;
  color: var(--text-variable02-color);
  border-bottom: 1.8px solid var(--text-variable02-color);
  outline: none;
}


input::placeholder {
  color: var(--text-variable02-color);
  padding-left: .1em;
}

.btn {
  margin-top: 2em;
  color:var(--second-variable-color);
  background-color: var(--text-variable02-color);
  border-style: none;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(231, 231, 231, 0.8);
}

.btn:active {
  background-color: var(--text-variable01-color);
}
/* FOOTER  */

footer {
  background-color: var(--second-variable-color);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--text-variable02-color);
}

footer ul{
  margin: 1.2em 1em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

footer ul li a {
  margin: 2em 0;
}

.redes img {
  margin-left: 1em;
  cursor: pointer;
}
